div.calendar-weekday-header {
    background-color: whitesmoke;
}

div.calendar-block {
    padding: 0.5em;
    border-radius: 10px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

div.calendar-free {
    background-color: forestgreen;
    transition-property: background-color box-shadow transform;
    transition: 0.3s;
    color: white;
}

div.calendar-free:hover {
    background-color: rgb(41, 169, 41);
    transform: scale(1.01) ;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.171);
}

div.calendar-planned {
    background-color: skyblue;
}

div.calendar-busy {
    background-color: maroon;
    color: white;
}


div.calendar-filler {
    /* TODO - change back, this is just for debugging */
    /* background-color: #00000000; */
    background-color: orangered;
}

#start-time-input:invalid {
    color: red;
}

#end-time-input:invalid {
    color: red;
}