div.calendar-weekday-header {
    background-color: whitesmoke;
}

div.calendar-event {
    background-color: pink;
    border-radius: 10px;
}

div.calendar-event:hover {
    background-color: rgb(255, 107, 132);
    transition-property: background-color;
    transition: 0.3s
}

div.calendar-no-event {
    background-color: #00000000;
}