div.calendar-weekday-header {
    background-color: whitesmoke;
}

div.calendar-free-time {
    background-color: forestgreen;
    transition-property: background-color box-shadow transform;
    transition: 0.3s;
    color: white;
    padding: 0.5em;
    border-radius: 10px;
}

div.calendar-free-time:hover {
    background-color: rgb(41, 169, 41);
    transform: scale(1.01) ;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.171);
}

div.calendar-filler {
    background-color: #00000000;
}